/* page content */
.page {
	.news1, .news {
		.date {
			color: $yellow;
		}
	}
	.page_nav {
		.active {
			color: $yellow;
		}
	}
    #ask-form {
        max-width: 350px;
    }
    .write {
        color: $yellow;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .back_link {
        margin: 25px 0;
    }
    p a {
        color: $yellow;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    .h2 a {
        font-size: 16px;
        color: $yellow;
    }
	@media screen and (max-width: 1024px) {
		#photos-list td img {
			width: 100%;
			height: auto;
		}
	}
	@media screen and (max-width: 480px) {
		p img, p strong img, h2 img, h3 img, h4 img, h5 img, h6 img, p a img, strong img {
			width: 100%!important;
			height: auto!important;
			display: block!important;
			float: none!important;
			margin: 0 0 10px 0!important;		
		}
        #page-text p a img {
            width: auto!important;
            max-width: 100%!important;
        }
		#photos-list td {
			width: 50%;
			@include inline-block;
		}
	}
}
/* breadcrumbs */
.breadcrumbs {
    font-size: 16px;
    letter-spacing: 0.01em;
    .container {padding-top: 45px; padding-bottom: 0px;}
	ul {
		@include ul-default;
		li {
            padding: 2px 0px;
            color: #999999;
			@include inline-block;
			a {
                text-decoration: none;
			    color: $yellow;
			}
			&:after {
                content: '\f061';
                font-family: 'fontawesome';
                margin: 4px 8px 0px 15px;
                font-size: 10px;
				color: #999999;
				@include inline-block;
			}
			&:last-of-type:after {
				display: none;
			}
		}
	}
}
/* breadcrumbs */

/* modal */

.modal .m-hat {
    background: $grad;
    color: #fff;
    padding: 45px 140px 36px;
    text-align: center;
    .comm {
        opacity: 0.7;
        font-size: 20px;
        line-height: 1.2;
        color: #ffffff;
    }
}
.modal .m-body {
    padding: 40px 126px 60px;

}

.modal {
    display: none;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    .modal__layer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .modal__block {
        width: 810px;
        background-color: #f9f9f9;
        position: absolute;
        padding: 0;
        left: 0;
        right: 0;
        box-shadow: 0px 5px 29px 1px rgba(0,0,0,0.1);
        border-radius: 10px;
        overflow: hidden;
        top: 50%;
        margin: 0 auto;
        transform: translateY(-50%);
        h4 {
            font-size: 40px;
            text-align: center;
            padding: 0;
            margin: 0 0 20px;
            color: #fff;
        }
    }
    form {
        display: block;
        textarea, 
        input[type="text"], 
        input[type="email"], 
        input[type="search"], 
        input[type="password"],
        input[type="tel"] {
            width: 100%;
            min-height: 47px;
            height: 49px;
            background-color: #fff;
            border: 1px solid #dddddd;
            border-radius: 5px;
            font-family: $regular;
            font-size: 16px;
            color: #666;
            outline: 0;
            padding: 17px 10px 17px 30px;
            margin-bottom: 20px;
            box-shadow: none;
            line-height: 1;
            &::placeholder {
                color: #999;
            }
        }
        .g-recaptcha, .policy, .btn {
            width: max-content;
            margin: 0 auto;
        }
        .g-recaptcha, .policy {margin-bottom: 15px;}
        .btn {border: 0;}
    }
    @media screen and (max-width: 1200px) {
        .modal__block {
            h4 {
                font-size: 30px;
            }
            .comm {font-size: 18px;}
        }
        form {
            textarea, 
            input[type="text"], 
            input[type="email"], 
            input[type="search"], 
            input[type="password"] {
                min-height: 48px;
                font-size: 16px;
                padding: 14px 15px;
            }
        }
    }
    @media screen and (max-width: 1024px) {
        form {
            textarea, 
            input[type="text"], 
            input[type="email"], 
            input[type="search"], 
            input[type="password"],
            input[type="tel"] {
                min-height: 40px;
                font-size: 14px;
                padding: 10px 15px;
                margin-bottom: 15px;
            }
        }
    }
    @media (max-width: 840px) {
        .modal__block {
            width: auto;
            left: 15px; right: 15px;
        }
    }
    @media screen and (max-width: 768px) {
        .modal__block {
            h4 {
                font-size: 22px;
                margin-bottom: 5px;
            }
            .comm {font-size: 14px;}
            .m-hat {padding: 20px 30px 20px;}
            .m-body {padding: 25px 30px 25px;}
            .policy {width: auto; text-align: center;}
        }
        .close {
            right: 5px; top: 5px; width: 23px;
            &:before, &:after {width: 23px;}
        }
    }
    @media screen and (max-width: 500px) {
        .modal__block {
            width: auto;
            left: 10px;
            right: 10px;
        }
    }
    @media screen and (max-width: 380px) {
        form {
            .g-recaptcha {
                margin: 0; width: 100%;
                display: flex; justify-content: center;
                iframe {
                    transform: scale(0.85);
                    transform-origin: 50% 50%;
                }
            }
        }
    }
}

.call--btn {
    position: fixed;
    bottom: 26vh;
    right: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $grad;
    font-family: 'FontAwesome';
    border-radius: 100%;
    text-decoration: none!important;
    width: 56px;
    height: 56px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    box-sizing: border-box;
    cursor: pointer;
    outline: none!important;
    z-index: 999;
    &:hover {
        animation-name: phone;
        animation-iteration-count: 1;
        animation-duration: 0.7s;
    }
    i {
        display: block;
        font-size: 24px;
        color: #fff;
    }
    &:after, &:before  {
        content: '';
        width: 80%;
        height: 80%;
        background: transparent;
        position: absolute;
        top: 6%;
        left: 6%;
        border-radius: 100%;
        animation-iteration-count: infinite;
        animation-duration: 1.2s;
        animation-name: ring;
        outline: none;  
        z-index: 0;
    }
    &:after {
        animation-delay: 0.6s;
    }
    &:before {
        animation-delay: 0.8s;
        border: 2px solid $yellow;
    }
    @media screen and (max-width: 1440px) {
        margin-right: 0;
        right: 35px;
        bottom: 75px;
    }
    @media screen and (max-width: 991px) {
        width: 50px;
        height: 50px;
        right: 15px;
        bottom: 80px;
        i {
            font-size: 20px;
        }
    }
    @media screen and (max-width: 768px) {
        bottom: 50px;
    }
}

@keyframes ring {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0.1;
    transform: scale(1.7);
  }
}
@keyframes phone {
  20% {
   transform: rotate(-30deg); 
  }

  80% {
    transform: rotate(390deg)
  }

  100% {
    transform: rotate(360deg);
  }
}

/* modal */

/* page content */